/* Global styles */

body { 
    background-color: #84bd00;
}

nav ul { 
    margin: 0;
    padding: 0;
}

nav { 
    margin-bottom:10px;
    text-align: center;
}

nav li a {
    display: block;
    background-color: green;
    margin: 10px 0;
    height: 40px;
    line-height: 40px;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 5px; 
    border-radius: 10px;
    border-style: solid;
    
}

img { 
    display: block;
    width: 30%;
    height: 30%;
    margin: auto;
    float: right; 
    margin-right: 20%;
}

p {
    font-size: 1.10em;
}

